#wrapper{
    max-width: 1200px;
    background-color: rgb(red, green, blue);
}

header{
    width: 1200px;
    padding: 2em;
    background-color: #000;
    background-image: url(/Midterm/west-wing-image.jpg);
    background-repeat: no-repeat;
    background-position: top right;
    background:
    linear-gradient(90deg, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 30%, rgba(255, 255, 255, 0) 43%)
    url("/Midterm/west-wing-image.jpg") no-repeat top center/70%;
}

.lead{
    width: 33%;
    color: white;
}

h1 img{
    width:300px;
}

.buttom{
    display: block;
    width: 3em;
    text-align: center;
    background-color: darkred;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
}